* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden { display: none; }

.gnb {
  width: 100%;
  display: flex;
}

.gnb > li {
  width: 25%;
  text-align: center;
}

.gnb > li > a {
  display: block;
  padding: 20px 0;
  color: white;
  font-weight: 700;
  background-color: dodgerblue;
  transition: background-color 300ms ease-in-out;
}

.gnb > li > a:hover,
.gnb > li > a.on {
  /* subMenu hover 배경색 유지 */
  background-color: red;
}

.sub {
  /* jQuery */
  /* display: none; */
  visibility: hidden;
}

.sub li a {
  display: block;
  padding: 16px 0;
  background-color: #eeeded;
  transition: background-color 300ms ease-in-out;
}

.sub li a:hover {
  background-color: #ccc;
}

