* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.count {
  padding: 20px;
  background-color: #ccc;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.count.is-active {
  /* display: none; */
  opacity: 0;
}

