/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
}

.text {
  color: white;
}

.hr {
margin: 30px 0;
}

h2 {
  color: red;
}

h3 {
  color: grey;
}

button {
  padding: 5px;
  margin: 10px 0;
  border: none;
  color: white;
  background-color: black;
} */


.post-box-list {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.post-box-item {
  width: 250px;
  margin-right: 30px;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 20px;
  /* x, y 값 양수 : 우측, 하단 */
  /* x, y 값 음수 : 좌측, 상단 */
  box-shadow: 5px 5px #666;
}

.post-box-item:last-child {
  margin-right: 0;
}

.post-box-item p {
  margin-top: 30px;
}




















