* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

nav {
  position: fixed;
  top: 0;
  /* width : 100과 동일 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  padding: 10px 30px;
  transition: background-color 300ms ease-in-out;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 105px;
  left: 0;
  width: 0%;
  border: 1px solid black;
  z-index: 10;
}

.logo img {
  width: 80px;
  height: 80px;
  transition: all 200ms ease-in-out;
}
.logo img:hover {
  opacity: 0.5;
}

button i {
  font-size: 48px;
  transition: all 200ms ease-in-out;
}
button i:hover {
  opacity: 0.5;
}

.line {
  position: fixed;
  top: 106px;
  left: 0;
  right: 0;
  width: 0;
  height: 5px;
  background-color: rgba(0,0,0,0.25);
}

.box {
  height: 3000px;
  background-color: #ccc;
}

.lorem {
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  margin: 30px auto;
}