* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



/* .main-wrapper {
  display: flex;
  justify-content: flex-end;
}

.main-wrapper > li {
  padding: 20px 40px;
  color: black;
  background-color: aquamarine;
}

.main-wrapper > li:hover,
.main-wrapper > li.on
 {
  background-color: rgb(226, 226, 226);
}

.wrapper .sub-wrapper {
  /* display: none; */
}

.sub-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(27, 124, 250);
}

.sub > a {
  display: block;
  padding: 20px 40px;
  color: white;
}

.sub > a:hover {
  background-color: rgb(226, 226, 226);
} */


/*  */

/* .gnb {
  display: flex;
  justify-content: flex-end;
}

.gnb > ul > a {
  display: block;
  padding: 20px 40px;
  color: black;
  background-color: aquamarine;
}

.gnb > ul > a:hover,
.gnb > ul > a.on {
  background-color: rgb(226, 226, 226);
}

.sub {
  /* display: none; */
}

.sub a {
  display: block;
  padding: 20px 40px;
  color: white;
  background-color: rgb(27, 124, 250);
}

.sub > div {
  padding-bottom: 20px;
}
.sub > div:last-child {
  padding-bottom: 0;
}

.sub > li:hover {
  background-color: rgb(226, 226, 226);
} */