* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  display: none;
}

/* 모바일용 햄버거, 사이드바 가리기 용도 */
/* 부트스트랩에서 권장하는 그리드 시스템
  sm(Small), md(Medium) 768px, lg(large) 1200px */
.sm-only {
  display: none;
}

/* -----------------------------default------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; /* 사이즈 확인 */
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0; /* 상하에만 여백 */
}

.logo img {
  width: 70px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
} /* 여백 줄 필요 없이 정렬로 잡아줌 */

.gnb-item a {
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms ease-in-out;
}
.gnb-item a:hover {
  color: red;
}

/* ----------------------------------------------header---------------------------- */
/* 포지션 지정 시 부모 기준이 중요 */
.lnb-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.lnb-list {
  display: flex;
  padding: 20px 0;
  border-top: 3px solid rgb(255,213,23);
  background-color: rgb(235,27,27);
}

.lnb-item:first-child {
  margin-left: 20px;
}

.lnb-list a {
  color: #fff;
  padding: 0 20px;
}

.lnb-item a:hover {
  color: yellow;
}

/* ---------------------------------------main-bar-top----------------------------- */

.background {
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------------------------------Main-post--------------------------------------- */

.food-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 80px auto 0 auto;
}

.food-box-list {
  display: flex;
  margin-top: 30px;

}
.food-box-list:first-child {
  margin-top: 0;
}

.food-box-item {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e1e1e1;
  overflow: hidden;
}
.food-box-item:last-child {
  margin-right: 0;
}

.food-box-item a {
  transition: opacity 300ms ease-in-out;
} /* 단일 속성은 직접 지정해 주는 게 좋다. */
.food-box-item a:hover {
  opacity: 0.7;
}

.food-box-item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.food-box-txt {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

/* ---------------------------------------main-bar-bottom-------------------------- */

.main-bar-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 5px solid yellow;
  background-color: #fff;
}

.main-bar-bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.main-bar-list2 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.main-bar-list2 > div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.main-bar-item2 {
  padding: 0 10px;
}

.main-bar-item2 > a {
  color: black;
}

/* -------------------------footer------------------------------------------------- */

footer {
  width: 100%;
  height: 110px;
  background-color: red;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 110px;
  font-size: 10px;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
}

footer nav a {
  color: #fff;
}

footer nav a:hover {
  color: yellow;
}

.info1 {
  display: flex;
}

.gnb-list2 {
  padding-left: 30px;
}

.gnb-list3 {
  padding-left: 50px;
}

.gnb-list4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.gnb-list4 > div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  background-color: #fff;
  margin-left: 10px;
}

.gnb-list4 > div:first-child {
  margin-left: 0;
}

.gnb-list4 > div:hover {
  background-color: yellow;
}




@media screen and (max-width:1200px) {
  .gnb-list::before {
    content:"\f0c9";
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: larger;
    margin-right: 30px;
  }
  .gnb-item {
    display: none;
  }
  .main-bar-list {
    justify-content: center;
  }
  .back {
    height: 500px;
  }
  .post-box-list {
    flex-direction: column;
    align-items: center;
  }
  .post-box-item {
    width: 80%;
    height: 300px;
  }
  .post-box-item p {
    padding: 20px;
  }
  .main-bar-bottom ul {
    justify-content: space-around;
  }
  
  footer {
    height: 200px;
  }
  footer nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 150px;
    font-size: 10px;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
  }

  .info1 {
    display: flex;
  }

  .gnb-list2 {
    padding-left: 30px;
  }

  .gnb-list3 {
    padding-left: 50px;
  }

  .gnb-list4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }

  .gnb-list4 > div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    background-color: #fff;
    margin-left: 10px;
  }

  .gnb-list4 > div:first-child {
    margin-left: 0;
  }

  .gnb-list4 > div:hover {
    background-color: yellow;
  }
}












