* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  display: none;
}

/* 모바일용 햄버거, 사이드바 가리기 용도 */
/* 부트스트랩에서 권장하는 그리드 시스템
  sm(Small), md(Medium) 768px, lg(large) 1200px */
.sm-only {
  display: none;
}

/* -----------------------------default------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; /* 사이즈 확인 */
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0; /* 상하에만 여백 */
}

.logo img {
  width: 70px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
} /* 여백 줄 필요 없이 정렬로 잡아줌 */

.gnb-item a {
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms ease-in-out;
}
.gnb-item a:hover {
  color: red;
}

/* ----------------------------------------------header---------------------------- */
/* 포지션 지정 시 부모 기준이 중요 */
.lnb-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.lnb-list {
  display: flex;
  padding: 20px 0;
  border-top: 3px solid rgb(255,213,23);
  background-color: rgb(235,27,27);
}

.lnb-item:first-child {
  margin-left: 20px;
}

.lnb-list a {
  color: #fff;
  padding: 0 20px;
}

.lnb-item a:hover {
  color: yellow;
}

/* ---------------------------------------main-bar-top----------------------------- */

.background {
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------------------------------Main-post--------------------------------------- */

.food-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 80px auto 0 auto;
}

.food-box-list {
  display: flex;
  margin-top: 30px;

}
.food-box-list:first-child {
  margin-top: 0;
}

.food-box-item {
  width: 300px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e1e1e1;
  overflow: hidden;
}
.food-box-item:last-child {
  margin-right: 0;
}

.food-box-item a {
  transition: opacity 300ms ease-in-out;
} /* 단일 속성은 직접 지정해 주는 게 좋다. */
.food-box-item a:hover {
  opacity: 0.7;
}

.food-box-item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.food-box-txt {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

/* ---------------------------------------mac-story-box-------------------------- */

.mac-story-box {
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  border-top: 3px solid rgb(255,213,23);
}

.mac-story-list {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}

.mac-story-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* -------------------------footer------------------------------------------------- */

footer {
  padding: 20px 0;
  background-color: rgb(235,27,27);
}

.global-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.global-footer a {
  color: #fff;
}

.mac-link-list {
  margin-right: 40px;
}

/* inline tag에 여백 적용이 안 될 경우, display */
.mac-link-item a {
  display: inline-block; /* 디스플레이 속성이 달라서 인라인, 블록 확인 후 적용 필요 */
  padding: 5px 0;
}

.mac-link-item:first-child a {
  color: rgb(255,213,23);
}

/* flex-grow 속성 : flex-grow가 적용되지 않았을 경우, 
  레아이웃보다 정렬된 아이템들의 width 합이 작으면 오른쪽에 여백이 남는다. 
  그 여백을 지정한 비율대로 차지하게 할 수 있는 속성. */
.mac-info-list {
  flex-grow: 1;
}

.mac-info-list li {
  padding: 5px 0;
}

.mac-icon-list {
  display: flex;
  align-items: center;
}

.mac-icon-list li {
  position: relative; /* li 박스 기준 정렬 */
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 300ms ease-in-out;
}

.mac-icon-list li:hover {
  background-color: rgb(235,27,27);
}

.mac-icon-list li:hover i {
  color: #fff !important;
}

.mac-icon-list li:last-child {
  margin-right: 0;
}

.mac-icon-list i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: rgb(235,27,27);
  transition: background-color 300ms ease-in-out;
}



@media screen and (max-width:1200px) {
  nav {
    padding: 5px 0;
  }
  .logo img {
    width: 60px;
  }
  .gnb-list {
    width: 250px;
  }
  .background {
    height: 400px;
  }
  .food-box {
    margin-top: 50px;
  }
  .food-box-item {
    width: 33%
  }
  .food-box-item img {
    width: 100%;
    height: 150px;
  }
  .food-box-txt {
    margin: 20px auto;
  }
  .mac-story-box {
    margin-top: 50px;
    padding: 10px 0;
  }
  .mac-story-list {
    width: 40%;
  }
  .mac-story-item img {
    width: 80px;
    height: 80px;
  }
}


@media screen and (max-width:768px) {
  .sm-only {
    display: block;
  }
  .sm-hidden {
    display: none;
  }
  .logo img {
    width: 50px;
  }
  .gnb-icon-btn i {
    font-size: 24px;
  }
  .background {
    height: 300px;
  }
  .food-box {
    width: 100%;
    margin-top: 30px;
  }
  .food-box-list {
    flex-direction: column;
    margin-top: 0;
  }
  .food-box-item {
    width: 90%;
    margin: 20px auto 0 auto;
  }
  .food-box-item:first-child {
    margin-top: 0;
  }
  .food-box-item:last-child {
    margin-right: auto;
  }
  .mac-story-box {
    margin-top: 30px;
  }
  .mac-story-list {
    width: 50%;
  }
  .mac-story-item img {
    width: 50px;
    height: 50px;
  }
  .global-footer {
    flex-wrap: wrap;
  }
  .mac-link-list {
    margin-right: 0;
  }
  .mac-info-list {
    text-align: right;
  }
  .mac-icon-list {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .mac-icon-list li {
    width: 40px;
    height: 40px;
  }
  
  .sidebar {
    position: fixed;
    top:0;
    left:0;
    z-index: 200;
    width: 200px;
    height: 100vh;
    padding: 32px 20px;
    background-color: #fff;
    transform: translateX(-200px);
  }
  .side-menu-item a {
    display: inline-block;
    padding: 10px;
    color: #3f4150;
  }

  .overlay {
    position: fixed;
    /* top, left, bottom, right 좌표를 전부 0으로 주면,
      네 꼭짓점에서 서로 잡아당기기 때문에 쫙 펴져서 
      width:100%, height:100%와 동일한 효과를 줄 수 있다. */
    top:0;
    left:0;
    /* bottom:0;
    right:0; */
    width: 100%;
    height: 100%;
    z-index: 100;
    /* display:none은 transition이 안 먹는다. */
    /* UI Animation 효과를 주고 싶다면, visibility를 사용해야 한다. */
    visibility: hidden;
    background-color: rgba(63,65,80,0.5);
  }
}








