@font-face {
  font-family: 'Ansungtangmyun-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Ansungtangmyun-Bold', sans-serif;
}

#app {}
.list-container {}
#header {}
.input-wrapper {}
#add-todo {}
#add-button {}
#list {}
.list-item {}
.list-delete {}